{% extends 'layout.html' %}
{% load fyle_import %}

{% block title %}Fyle Accounting Integrations - Advance List{% endblock %}

{% block body_content %}
  <div class="page-header">
    <h3 class="page-title">
      Fyle Advance Data
    </h3>
    <nav aria-label="breadcrumb">
      {% if importbatch_id %}
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Fyle</a></li>
          <li class="breadcrumb-item"><a href="#">Import Batches</a></li>
          <li class="breadcrumb-item"><a href="#">{{ importbatch_id }}</a></li>
          <li class="breadcrumb-item active" aria-current="page">Advances</li>
        </ol>
      {% else %}
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Fyle</a></li>
          <li class="breadcrumb-item active" aria-current="page">Advances</li>
        </ol>
      {% endif %}

    </nav>
  </div>
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          {% if importbatch_id %}
            <h4 class="card-title">List of Advances imported in the batch {{ importbatch_id }}</h4>
          {% else %}
            <h4 class="card-title">List of Advances in your Fyle Account</h4>
          {% endif %}
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Employee</th>
                <th>Project</th>
                <th>Currency</th>
                <th>Amount</th>
                <th>Original Currency</th>
                <th>Original Amount</th>
                <th>Purpose</th>
                <th>Reference</th>
                <th>Payment Mode</th>
                <th>Issued At</th>
              </tr>
            </thead>
            <tbody>
              {% for advance in advance_list %}
                <tr>
                  <td><a href="{% url "advance_detail" advance.id %}">{{ advance.id }}</a></td>
                  <td>{{ advance.employee.full_name }}</td>
                  <td>{{ advance.project.name }}</td>
                  <td>{{ advance.currency }}</td>
                  <td>{{ advance.amount }}</td>
                  <td>{{ advance.original_currency }}</td>
                  <td>{{ advance.original_amount }}</td>
                  <td>{{ advance.purpose }}</td>
                  <td>{{ advance.reference }}</td>
                  <td>{{ advance.payment_mode }}</td>
                  <td>{{ advance.issued_at }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <br/>
            <nav aria-label="Paginate Event Hooks" class="d-flex">
              <ul class="pagination">
                {% if page_obj.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?{% param_replace page=page_obj.previous_page_number%}">Previous</a></li>
                {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a></li>
                {% endif %}

                {% if page_obj.has_next %}
                  <li class="page-item"><a class="page-link" href="?{% param_replace page=page_obj.next_page_number%}">Next</a></li>
                {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a></li>
                {% endif %}
              </ul>
              <span class="mt-2 ml-2 text-info"> {{ page_obj.start_index }} to {{ page_obj.end_index }} of {{ page_obj.paginator.count }} Projects</span>
            </nav>

        </div>
      </div>
    </div>
  </div>


{% endblock body_content %}
