{% extends 'layout.html' %}
{% load fyle_import %}

{% block title %}Fyle Accounting Integrations - Project List{% endblock %}

{% block body_content %}
  <div class="page-header">
    <h3 class="page-title">
      Fyle Expense Data
    </h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Fyle</a></li>
        <li class="breadcrumb-item active" aria-current="page">Expenses</li>
      </ol>
    </nav>
  </div>
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">List of Expenses in your Fyle Account</h4>
  {#        <p class="card-description">#}
  {#          Add class <code>.table-striped</code>#}
  {#        </p>#}
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Employee</th>
                <th>Currency</th>
                <th>Amount</th>
                <th>Foreign Currency</th>
                <th>Foreign Amount</th>
                <th>Purpose</th>
                <th>Created At</th>
                <th>Approved At</th>
                <th>Verified</th>
                <th>Vendor</th>
              </tr>
            </thead>
            <tbody>
              {% for expense in expense_list %}
                <tr>
                  <td><a href="{% url "expense_detail" expense.id %}">{{ expense.id }}</a></td>
                  <td>{{ expense.employee.full_name }}</td>
                  <td>{{ expense.currency }}</td>
                  <td>{{ expense.amount }}</td>
                  <td>{{ expense.foreign_currency }}</td>
                  <td>{{ expense.foreign_amount }}</td>
                  <td>{{ expense.purpose }}</td>
                  <td>{{ expense.created_at }}</td>
                  <td>{{ expense.approved_at }}</td>
                  <td>{{ expense.verified }}</td>
                  <td>{{ expense.vendor }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <br/>
            <nav aria-label="Paginate Event Hooks" class="d-flex">
              <ul class="pagination">
                {% if page_obj.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?{% param_replace page=page_obj.previous_page_number%}">Previous</a></li>
                {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a></li>
                {% endif %}

                {% if page_obj.has_next %}
                  <li class="page-item"><a class="page-link" href="?{% param_replace page=page_obj.next_page_number%}">Next</a></li>
                {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a></li>
                {% endif %}
              </ul>
              <span class="mt-2 ml-2 text-info"> {{ page_obj.start_index }} to {{ page_obj.end_index }} of {{ page_obj.paginator.count }} Projects</span>
            </nav>

        </div>
      </div>
    </div>
  </div>


{% endblock body_content %}
