{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% block title %}{% endblock %}</title>

  <!-- plugins:css -->
{#  <link rel="stylesheet" href="{% static "vendors/iconfonts/mdi/css/materialdesignicons.min.css" %}">#}
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/3.6.95/css/materialdesignicons.min.css" >
  <link rel="stylesheet" href="{% static "vendors/css/vendor.bundle.base.css" %}">
  <link rel="stylesheet" href="{%  static "vendors/css/vendor.bundle.addons.css" %}">
  <!-- endinject -->

  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{%  static "css/style.css" %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{%  static "images/favicon.png" %}" />

  {% block head_css %}
  {% endblock head_css %}

</head>

<body>

  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo" href="{% url "index" %}">
          <img src="{% static "images/fylelogo.png"%}" alt="logo"/></a>
        <a class="navbar-brand brand-logo-mini" href="{% url "index" %}">
          <img src="{% static "images/fyle_logo_light.png" %}"alt="logo"/></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-stretch">
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
{#              <div class="nav-profile-img">#}
{#                <img src="../../images/faces/face1.jpg" alt="image">#}
{#                <span class="availability-status online"></span>#}
{#              </div>#}
              <div class="nav-profile-text">
                <p class="mb-1 text-black">Hello, {{ user.username }}!!</p>
              </div>
            </a>
            <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item" href="#">
                <i class="mdi mdi-cached mr-2 text-success"></i>
                Activity Log
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url "account_logout" %}">
                <i class="mdi mdi-logout mr-2 text-primary"></i>
                Signout
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">

          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-fyle" aria-expanded="false" aria-controls="ui-basic">
              <span class="menu-title">Fyle</span>
              <i class="menu-arrow"></i>
              <i class="mdi mdi-table-large menu-icon"></i>
            </a>
            <div class="collapse" id="ui-fyle">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="{% url "importbatch_list" %}">Import Batches</a>
                  <a class="nav-link" href="{% url "project_list" %}">Projects</a>
                  <a class="nav-link" href="{% url "costcenter_list" %}">Cost Centers</a>
                  <a class="nav-link" href="{% url "category_list" %}">Categories</a>
                  <a class="nav-link" href="{% url "employee_list" %}">Employees</a>
                  <a class="nav-link" href="{% url "expense_list" %}">Expenses</a>
                  <a class="nav-link" href="{% url "advance_list" %}">Advances</a>
                </li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-export" aria-expanded="false" aria-controls="ui-basic">
              <span class="menu-title">Export</span>
              <i class="menu-arrow"></i>
              <i class="mdi mdi-upload-network menu-icon"></i>
            </a>
            <div class="collapse" id="ui-export">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="{% url "export_setting" %}">Settings</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url "exportbatch_list" %}">Export Batches</a>
                </li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-general" aria-expanded="false" aria-controls="ui-basic">
              <span class="menu-title">General</span>
              <i class="menu-arrow"></i>
              <i class="mdi mdi-settings-box menu-icon"></i>
            </a>
            <div class="collapse" id="ui-general">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="{% url "general_setting" %}">Settings</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "account_logout" %}">
              <span class="menu-title">Logout</span>
              <i class="mdi mdi-logout menu-icon"></i>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
          <div class="content-wrapper">
          {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message|safe }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endfor %}

          {% block body_content %}
          {% endblock body_content %}
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2017 <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap Dash</a>. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- plugins:js -->
  <script src="{% static "vendors/js/vendor.bundle.base.js" %}"></script>
  <script src="{% static "vendors/js/vendor.bundle.addons.js" %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->

  <!-- inject:js -->
  <script src="{% static "js/off-canvas.js" %}"></script>
  <script src="{% static "js/misc.js" %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <!-- End custom js for this page-->
</body>

</html>
